.bc {
  position: relative;
  height: 700px;
}
.bc .bc-img {
  background-image: url("../images/login_in/u417.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-size: 100% 100%;
}
.bc .ex1 {
  width: 410px;
  height: 310px;
  position: absolute;
  top: 100px;
  left: 20px;
}
.bc .ex2 {
  width: 310px;
  height: 280px;
  position: absolute;
  top: 70px;
  left: 510px;
}
.bc .login-box {
  width: 380px;
  height: 430px;
  background: #fff;
  box-sizing: border-box;
  border: 1px solid #5d5c5c;
  position: absolute;
  right: 47px;
  top: 60px;
}
.bc .login-box .input-box {
  width: 265px;
  margin: 0 auto;
  overflow: hidden;
}
.bc .login-box .title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}
.bc .login-box .input-box {
  font-size: 14px;
}
.bc .login-box .username,
.bc .login-box .userpw {
  margin-top: 15px;
}
.bc .login-box .username-input,
.bc .login-box .userpw-input {
  padding-left: 10px;
  width: 249px;
  height: 35px;
  margin-top: 15px;
  outline: none;
}
.bc .login-box .status {
  margin-top: 15px;
  overflow: hidden;
}
.bc .login-box .forget {
  float: left;
  color: #939292;
}
.bc .login-box .forget a:link {
  color: #939292;
}
.bc .login-box .forget a:hover {
  color: #5d5c5c;
}
.bc .login-box .register {
  float: right;
}
.bc .login-box .register a:link {
  color: #939292;
}
.bc .login-box .register a:visited {
  color: #939292;
}
.bc .login-box .register a:hover {
  color: #5d5c5c;
}
.bc .login-box .login-button {
  width: 100%;
  height: 38px;
  background: #ff9966;
  border: 1px solid #797979;
  border-radius: 5px;
  margin-top: 15px;
  font-size: 16px;
  color: #fff;
}
.bc .login-box .u446 {
  width: 243px;
  height: 1px;
  margin: 0 auto;
  border-bottom: 1px solid #000;
  margin-top: 36px;
}
.bc .login-box .u450,
.bc .login-box .u448 {
  margin-left: 10px;
  margin-top: 10px;
  float: left;
}
.bc .footer {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -192px;
}
